@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
/*----------Header----------*/

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-bottom: 2px solid #f9b17a;
  z-index: 11;
  background: #161e31;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}

a {
  color: #fff;
  text-decoration: none;
}

.dot {
  color: #f9b17a;
  transition: color 0.3s;
  font-family: 'VT323', 'Roboto', sans-serif;
}

.logo {
  font-family: 'VT323', 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: color 0.3s;
}

.logo:hover {
  color: #f9b17a;
}

.logo:hover .dot {
  color: #fff;
}

.icon {
  transition: color 0.3s;
}

.icon:hover {
  color: #f9b17a;
}

/*----------Mid----------*/

.mid {
  position: relative;
  width: 100vw;
  height: 70vh;
  transform: translateY(10vh);
  bottom: 0;
  z-index: 0;
  padding: 0 100px 0 100px;
  background: #161e31;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 70vh;
}

.nome-div {
  position: relative;
  transform: translate(20%, 40%);
  color: #fff;
  grid-column: 1;
  grid-row: 1;
}

.nome {
  font-family: 'VT323', 'Roboto', sans-serif;
  margin-left: 5px;
  margin-bottom: 10px;
}

.intro {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.prof {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.email {
  margin-left: 5px;
  font-weight: 600;
  font-size: 23px;
  color: #f9b17a;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.email:hover {
  text-decoration: underline;
  color: #fff;
  text-shadow: 0 0 5px #f9b17a;
}

.avatar {
  position: absolute;
  right: 0;
  overflow: hidden;
  z-index: 9;
}
.avatarImg {
  width: 300px;
  cursor: move;
  z-index: 10;
}
/*.img:hover {
  animation: upDown 1s infinite;
}*/

@keyframes upDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

/*----------Bottom----------*/

.bottom {
  width: 100vw;
  height: 100vh;
  background-color: #0e131f;
}

.SitesConteiner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  width: 90%;
  height: 50%;
  background-color: #111725;
  cursor: default;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: hidden;
}
.siteImg {
  top: 0;
  position: relative;
  width: 100%;
  height: 60%;
  transition: top 0.3s;
}

.siteImg:hover {
  top: 10vh;
}
.siteDesc {
  width: 100%;
  display: flex;
  margin-left: 1.5rem;
  flex-direction: column;
  position: relative;
  top: 2rem;
}
.desc {
  color: rgba(255, 255, 255, 0.7);
}
/*----------Scroll----------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161e31;
}

::-webkit-scrollbar-thumb {
  background: #f9b17a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 199, 156);
}

/*----------tooltip----------*/

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(tooltip-data);
  position: absolute;
  width: 250px;
  background-color: #f9b17a;
  color: #161e31;
  text-align: center;
  padding: 15px;
  line-height: 1.1;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.8em;
  visibility: hidden;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  transform: rotate(180deg);
  opacity: 0;
  transition: opacity 0.5s;
  border-color: #f9b17a transparent transparent transparent;
  visibility: hidden;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1em;
}

/*----------Screen----------*/

@media (max-width: 300px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 150%;
  }
  .siteImg {
    width: 90%;
    height: 80%;
    transform: translate(5%);
  }
  .siteImg:hover {
    top: 5vh;
  }
}
